body {
  background-color: rgb(85, 185, 222);
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row:first-child {
  margin-top: 28vh;
}

.square {
  background-color: rgb(243, 149, 55);
  border-collapse: collapse;
  border: 1px solid #333;
  color: #eee;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  height: 100px;
  width: 100px;
}

.square:hover {
  background-color: rgb(246, 126, 6);
}